@import './GeneralClasses.scss';
@import './Bootstrapfix.scss';


$font-family: "Poppins", sans-serif;
$body-color: #f2fcff;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body,html {
    font-family: $font-family;
    background-color: $body-color;
}